* {
    margin: 0;
    padding: 0;
}
body {
    text-align: left !important;
    font-family: Arial;
    color: #333;
}
h1 {
    text-align: center;
    margin: 30px 0;
}
#section1 {
    background: rgb(240, 248, 251);
}
#section2 {
    background: rgb(255, 255, 248);
}
table {
    border: 1px solid #cacaca;
}
table th,
table td {
    width: 50%;
    text-align: left;
}
center {
    text-align: left;
}
form {
    margin: 30px 0;
    text-align: center;
}